<header>
  <h1>Welcome to Shine, <%= current_user.email %>!</h1>
  <h2>We're using Rails <%= Rails.version %></h2>
  <h4><%= link_to "Customers", customers_path %></h4>
</header>

<section>
  <p>Future home of Shine's Dashboard</p>
  <%= link_to "log out", destroy_user_session_path, method: :delete %>
</section>
